Django
python-decouple
channels-redis
channels
channels-redis
django-crispy-forms
crispy-tailwind
Pillow
redis
whitenoise
django-cleanup
django-celery-beat
celery
psycopg2-binary
django-storages
boto3
django-allauth[socialaccount]
django-allauth-ui
django-widget-tweaks
slippers
djangorestframework
agora-token-builder
agora-rtc-sdk-ng
