<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudySync</title>    
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home_view' %}">Home</a></li>
            <li><a href="{% url 'home_view' %}">Dashboard</a></li>
            <li><a href="{% url 'home_view' %}">Mentorship</a></li>
            <li><a href="{% url 'home_view' %}">Chat</a></li>
        </ul>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
